.button {
    padding: 20px 25px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    text-align: center;
    outline: none;
    margin-top: 20px; 
    text-decoration: none; /* Oculta la barra baja en subrayado */
  
    &.primary {
      background-color: #24b924;
      color: #fff;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  
      &:hover {
        background-color: #24b924;
      }
  
      &:active {
        background-color: #3bf33b;
      }
    }
  
    &.secondary {
      background-color: #6c757d;
      color: #fff;
  
      &:hover {
        background-color: #5a6268;
      }
  
      &:active {
        background-color: #343a40;
      }
    }
  
    &.danger {
      background-color: #dc3545;
      color: #fff;
  
      &:hover {
        background-color: #c82333;
      }
  
      &:active {
        background-color: #bd2130;
      }
    }
  
    &.disabled {
      background-color: #e0e0e0;
      color: #9e9e9e;
      cursor: not-allowed;
    }
  }