.ofrecer{
    background-color: #47ee05;
    border-radius: 5px;
}
.solicitar{
    background-color: #47ee05;
    border-radius: 5px;
}
.center-block {
    width: 50%; /* Define un ancho para el bloque */
    margin: 0 auto; /* Márgenes automáticos para centrar */
    text-align: center; /* Opcional si deseas centrar el texto dentro */
}